@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'roboto',sans-serif;
}

.header{
    background-color: #f57b51;
    color: #fff;
    width: 100%;
    padding: 15px;
}

.header .header-titos-market{
    display: flex;
    align-items: center;
}

.header .header-titos-market .menu{
    margin-left: 25px;
}

.header .header-titos-market .menu .item-menu{
    text-decoration: none;
    color: #222;
    background-color: #f6eedf;
    padding: 20px;
    margin-left:20px ;
    border-radius: 5px;
}

.header .header-titos-market .operador{
position: absolute;
right: 15px;
}

.header .header-titos-market .operador span{
    font-weight: 300;
    }
main .cupom-produto{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}
main .cupom-produto .cupom-fiscal{
    width: 65%;
    height: 565px;
    border: 2px solid #ddd;
}
main .cupom-produto .imagem-produto{
    width: 34%;
    height: 565px;
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .cupom-produto .imagem-produto #produto-img{
    height: 350px;
}
main .info-codigo{
    background-color: #f57b51;
    color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
main .info-codigo .input-codigo{
    font-size: 25px;
    padding: 7px 15px;
    border: 2px solid #ccc;
    width: 400px;
}

/*-------------------AULA FIM------------------------------*/
.tituloGprodutos{
    text-align: center;
    margin: 10px 0;
    font-size: xx-large;
}
.formGprodutos{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.inputGprodutos{
    padding: 0 0 0 20px;
    height: 35px;
    width: 245px;
    border-radius: 30px;
    margin: 10px 0 10px 0;
    border: solid #F1B286 1px;
}
.botaoGprodutos{
    padding: 0;
    max-width: 400px;
    min-width: fit-content;
    border-radius: 30px;
    border: solid #ccc 1px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 5px;
    margin: 0 auto;
}

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #f57b51;
}

tr:nth-child(even) {
    background-color: #f57b51;
}

thead {
    background-color: #f57b51;
    color: #fff;

}
tbody{
    background-color: #fff;
}
